.EducationSection {
  margin: 2.5rem;
}
.CollegeName {
  margin: 0;
  padding: 0;
}

.CULOGO {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.SmallLogo {
  display: none;
}

@media only screen and (max-width: 940px) {
  .BigLogo {
    display: none;
  }
  .SmallLogo {
    display: block;
    height: 115px;
    width: 115px;
  }
}
